@import "./variables.scss";

@mixin pretty-scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: $light-golden $harsh-golden;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $harsh-golden;
  }
  &::-webkit-scrollbar-track {
    background: $harsh-golden;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $light-golden;
    border: 2px solid $harsh-golden;
  }
}